body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: lightgoldenrodyellow
}

.wrapper {
  padding: 10px
}

nav {
  padding: 20px;
  color: white;
  background: rgb(196, 7, 7)
}

nav h1 {
  margin: 0;
  font-size: 3em;
  font-style: oblique;
  text-shadow: 0px 5px 10px rgba(238, 255, 0, 0.795)
}

.chickForm {
  background: white;
  border: 2px solid green;
  line-height: 2em;
  margin: 10px;
  padding: 10px;
  width: 40%
}

input {
  font-size: 1em;
}

.editChickForm {
  background: white;
  border: 2px solid rgb(0, 60, 128);
  line-height: 2em;
  margin: 10px;
  padding: 10px;
  width: 40%
}

.chicken_card {
  background: white;
  /* width: 20%; */
  margin: 10px;
  padding: 10px;
  border: 2px solid gray;
}

.chicken_card li {
  list-style-type: none;
  list-style-image: url('/img/eggicon.svg');
  line-height: 1.5em;
}

.hidden {
  display: none
}

.output {
  padding: 10px;
  /* display: inline-flex; */
  /* flex-wrap: wrap */
}

.addChickenBtn {
  font-size: 1em;
  margin: 10px;
  border: 2px solid yellow;
  color: white;
  background: rgb(196, 7, 7)
}

.addChickenBtn:hover {
  background: black;
}